apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podinfo
  namespace: podinfo
  labels:
    app: podinfo
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  rules:
    - host: "${hostname}"
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: podinfo-scaler
                port:
                  number: ${keda_port:=8080}
  tls:
  - hosts:
    - "${hostname}"
    secretName: podinfo-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podinfo-haproxy
  namespace: podinfo
  labels:
    app: podinfo
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    external-dns.alpha.kubernetes.io/controller: "disabled"
    haproxy.org/server-address: "keda-add-ons-http-interceptor-proxy.keda.svc.cluster.local"
    haproxy.org/server-port: "8080"
    haproxy.org/backend-config-snippet: |
      default-server resolvers kubernetes
spec:
  ingressClassName: haproxy
  rules:
    - host: "${hostname}"
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: podinfo
                port:
                  number: 9898
  tls:
  - hosts:
    - "${hostname}"
    secretName: podinfo-tls
