apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podinfo
  namespace: podinfo
  labels:
    app: podinfo
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  rules:
    - host: "${hostname}"
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: podinfo-scaler
                port:
                  number: ${keda_port:=8080}
  tls:
  - hosts:
    - "${hostname}"
    secretName: podinfo-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podinfo-haproxy
  namespace: podinfo
  labels:
    app: podinfo
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    external-dns.alpha.kubernetes.io/controller: "disabled"
    haproxy.org/backend-config-snippet: |
      # Force traffic to the KEDA interceptor by its internal DNS name
      # HAProxy will resolve this DNS name at runtime
      server keda-interceptor keda-add-ons-http-interceptor-proxy.keda.svc.cluster.local:8080 check resolvers kubernetes init-addr last,libc,none
spec:
  ingressClassName: haproxy
  rules:
    - host: "${hostname}"
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: podinfo-scaler
                port:
                  number: ${keda_port:=8080}
  tls:
  - hosts:
    - "${hostname}"
    secretName: podinfo-tls
