apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podinfo
  namespace: podinfo
  labels:
    app: podinfo
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    haproxy-ingress.github.io/config-backend: |
      compression algo gzip
      compression type text/css text/less text/plain text/xml application/xml application/json application/javascript
      compression minsize-res 0
spec:
  ingressClassName: haproxy
  rules:
    - host: "${hostname}"
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: podinfo-scaler
                port:
                  number: ${keda_port:=8080}
  tls:
  - hosts:
    - "${hostname}"
    secretName: podinfo-tls
