apiVersion: ingress.v3.haproxy.org/v3
kind: Backend
metadata:
  name: keda-interceptor-backend
  namespace: podinfo--staging
spec:
  mode: http
  balance:
    algorithm: roundrobin
  forwardfor:
    enabled: true
  server_templates:
    keda:
      prefix: "interceptor"
      num: 1
      fqdn: "keda-add-ons-http-interceptor-proxy.keda.svc.cluster.local"
      port: 8080
      params:
        - check
        - resolvers kubernetes
        - init-addr last,libc,none
---
apiVersion: v1
kind: Service
metadata:
  name: podinfo-scaler-backend
  namespace: podinfo--staging
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podinfo-haproxy
  namespace: podinfo
  labels:
    app: podinfo
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    external-dns.alpha.kubernetes.io/controller: "disabled"
    haproxy.org/cr-backend: podinfo--staging/keda-interceptor-backend
spec:
  ingressClassName: haproxy
  rules:
    - host: "${hostname}"
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: podinfo-scaler-backend
                port:
                  number: 8080
  tls:
  - hosts:
    - "${hostname}"
    secretName: podinfo-tls
