---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: "10.4.3"
      interval: 5m
      sourceRef:
        kind: HelmRepository
        name: grafana
  values:
    sidecar:
      image:
        tag: 1.30.3
      resources:
        requests:
          cpu: 10m
          memory: 90Mi
      alerts:
        enabled: true
        searchNamespace: ALL
      dashboards:
        enabled: true
        searchNamespace: ALL
      datasources:
        enabled: true
        searchNamespace: ALL
      plugins:
        enabled: true
        searchNamespace: ALL
    plugins:
      - victoriametrics-logs-datasource
    grafana.ini:
      auth:
        oauth_auto_login: true
        signout_redirect_url: "${oauth2_proxy_signout_url}"
      auth.proxy:
        enabled: true
        header_name: X-Auth-Request-Email
        header_property: email
        headers: Name:X-Auth-Request-User
        enable_login_token: false
      users:
        allow_sign_up: false
        auto_assign_org: true
        auto_assign_org_role: Admin
    ingress:
      ingressClassName: traefik
      enabled: true
      annotations:
        external-dns.alpha.kubernetes.io/controller: "disabled"
        cert-manager.io/cluster-issuer: "letsencrypt"
        traefik.ingress.kubernetes.io/router.middlewares: traefik-elife-oauth@kubernetescrd
      hosts:
        - grafana.${cluster_domain}
      tls:
        - secretName: grafana-tls
          hosts:
            - grafana.${cluster_domain}
    resources:
      requests:
        cpu: 20m
        memory: 133Mi
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.middlewares: traefik-elife-oauth@kubernetescrd
    nginx.ingress.kubernetes.io/configuration-snippet: |
      auth_request_set $user   $upstream_http_x_auth_request_user;
      auth_request_set $email  $upstream_http_x_auth_request_email;
      proxy_set_header X-User  $user;
      proxy_set_header X-Email $email;
  labels:
    app.kubernetes.io/instance: grafana
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: grafana
    app.kubernetes.io/version: 12.3.1
  name: grafana-traefik
  namespace: grafana
spec:
  ingressClassName: traefik
  rules:
    - host: grafana.flux-test.elifesciences.org
      http:
        paths:
          - backend:
              service:
                name: grafana
                port:
                  number: 80
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - grafana.flux-test.elifesciences.org
      secretName: grafana-tls
