name: CI
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - master
jobs:
  lint_and_validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "true"

      - name: Validate Helm Releases -- prod
        uses: stefanprodan/hrval-action@master
        with:
          helmRelease: releases/prod/
          helmVersion: v3

      - name: Validate Helm Releases -- stg
        uses: stefanprodan/hrval-action@master
        with:
          helmRelease: releases/stg/
          helmVersion: v3
        continue-on-error: true

      - name: Validate Helm Releases -- adm
        uses: stefanprodan/hrval-action@master
        with:
          helmRelease: releases/adm/
          helmVersion: v3
