name: CI
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - master
jobs:
  lint_and_validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: "true"

      - name: Validate Helm Releases
        uses: erkannt/hrval-action@master
        with:
          helmRelease: releases/prod/
          helmVersion: v3

      - name: Validate Helm Releases
        uses: erkannt/hrval-action@master
        with:
          helmRelease: releases/stg/
          helmVersion: v3

      - name: Validate Helm Releases
        uses: erkannt/hrval-action@master
        with:
          helmRelease: releases/adm/
